<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
  </head>
  <body class="is-preload">
    <div id="wrapper">
      {% include "header.njk" %}
      <div id="main">
        <article>
          <h2 class="major">{{ title }}</h2>
          <p class="blog-meta">{{ date }}</p>
          {{ content | safe }}
          <div class="blog-navigation">
            <a href="/" class="button">← Back to Home</a>
          </div>
        </article>
      </div>
      {% include "footer.njk" %}
    </div>
    <div id="bg"></div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/browser.min.js"></script>
    <script src="/assets/js/breakpoints.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
