<article id="about">
  <h2 class="major">About</h2>
  <div class="content">
    <img src="/images/IMG_7107 (1).JPG" alt="Profile Picture" class="profile-picture" />
    <p>{{ about.summary1 }}</p>
  </div>
  <p>{{ about.summary2 }}</p>
  <p>{{ about.summary3 }}</p>
  <p>{{ about.summary4 }}</p>
  <p>{{ about.summary5 }}</p>
  <p>{{ about.summary6 }}</p>
</article>


