<article id="resume">
  <h2 class="major">Resume</h2>
  <div class="resume-download">
    <p>Click below to download my resume:</p>
    <a href="/documents/Rithwik_Gokhale_Resume.docx" class="button primary" download>
      <i class="fas fa-file-word"></i> Download Resume (Word)
    </a>
  </div>
</article>


